* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Righteous', cursive;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
}
nav ul {
  margin-top: 10px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  padding: 10px;
}
nav ul li a {
  display: block;
  height: 50px;
  width: 50px;
  line-height: 50px;
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
nav ul li a:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.6);
}

section#shoes_1 {
  background-color: #84DCCF;
}
section#shoes_2 {
  background-color: #EE964B;
}
section#shoes_3 {
  background-color: #C7EF00;
}

section.shoes_page {
  width: 100%;
  height: 100vh;
  text-align: center;
}

section .item {
  width: 70%;
  margin: 0 auto;
}

section .item img {
  width: 80%;
}

section .item .shoes_text {
  font-size: 4vw;
  font-weight: bold;
  color: #4c4b63;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
